# Server Configuration
PORT=3001

# Database Configuration (Docker service name 'db')
DATABASE_URL=postgresql://user:password@db:5432/hydrosense

# MQTT Configuration (Docker service name 'mosquitto')
MQTT_URL=mqtt://mosquitto:1883
MQTT_USERNAME=hydrosense_admin
MQTT_PASSWORD=password123
